<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="cl.presidencia.Argo.WinUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="gleRut.CausesValidation" value="True"/>
    <add key="cbbClasificacionEmpleado.CausesValidation" value="True"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="hostname" value="SVR"/>
    <add key="databaseName" value="BD"/>
    <add key="integratedSecurity" value="True"/>
    <add key="Organizational Unit" value="Presidencia"/>
    <add key="Domain Server" value="PRCHILE.CL"/>	
    <add key="Windows Domain 2" value="PRCHILE"/>
    <add key="Windows Domain 1" value="cl"/>
    <add key="PrintingSystem1.ShowMarginsWarning" value="True"/>
    <add key="ConnectionString" value=""/>
    <add key="dedFechaInicio.ValidateOnEnterKey" value="True"/>
    <add key="codigoEntidadSIAGF" value="95001"/>
    <add key="usuarioCargaSIAGF" value="carga_95001"/>
    <add key="passwordCargaSIAGF_" value="abc123"/>
    <add key="passwordCargaSIAGF" value="987540"/>
    <add key="TieneActiveDirectory" value="True"/>
    <add key="dedFechaInicio.ValidateOnEnterKey" value="True"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Catalan;Chinese (China);Chinese (Simplified);Chinese (Taiwain);Croatian;Czech;Danish;Dutch;Finnish;French;German;Greek;Icelandic;Italian;Japanese;Norwegian;Polish;Portuguese;Portuguese (Brazil);Romanian;Russian;Slovenian;Spanish;Swedish;Vietnamese"/>
    </assemblyBinding>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <cl.presidencia.Argo.WinUI.My.MySettings>
      
    </cl.presidencia.Argo.WinUI.My.MySettings>
  </applicationSettings>
</configuration>
